*{padding: 0;
    margin: 0;}

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Jura:wght@300..700&family=Rubik+Scribble&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Jura:wght@300..700&family=Rubik+Scribble&family=Signika+Negative:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');


header{
    background-color:#f5efd5;
}
footer{
    background-color:#f5efd5;
    padding:20px ;
}
body{
    background-color: #ECCA9C;
}

.Project {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajoute un espace entre les projets */
    justify-content: center;
}

.divProject {
    text-align: center; /* Centre le texte sous l'image */
    width: 200px; /* Définit une largeur fixe pour chaque projet */
}

.PhotoProject {
    width: 100%; /* Fait en sorte que les images remplissent la largeur du conteneur */
    height: auto; /* Maintient les proportions de l'image */
}

.ColorTexte2 {
    display: block; /* Assure que le lien est un bloc afin qu'il apparaisse sous l'image */
    margin-top: 10px; /* Ajoute un espace entre l'image et le texte */
    text-decoration: none; /* Supprime la décoration du lien (soulignement) */
    color: #000; /* Définit la couleur du texte */




/*

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/*ul presentation resaux*/
ul{
    display: flex;
    gap: 10px;
}

header ul{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;

}

h3{
    font-family: "Jura", sans-serif;
    color: #814a2c;
    font-size: 30px;
}
h1{
    font-size: 15px;
}
main{
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
img{
    width: 200px;
}

.boutonHeader{
    font-family: "Signika Negative", sans-serif;
    font-size: 20px;
    color: #DBA979;
}

.logoAcceuil{
    display: block;
    margin: auto;
    width: 100px;
}

.ColorTexte1{
    color: #814a2c;
    font-family: "Jura", sans-serif;
}
.ColorTexte2{
    color: black;
    font-family: "Jura", sans-serif;
}

.DivPrincipals{
display: flex;
align-content: space-around;}

.DivPresentation {
    display: flex;
    justify-content: center;
}


.Contact{
background-color: aqua;

}


.DivTexteContact{
    flex-direction: column;
    width: 40%;
}

.divProject{
    display: flex;
    flex-wrap: wrap;
    
}


.Project {
    display: flex;
    margin: auto;
    display: inline-flex;
    background-color: #814a2c;
    width: 800px;
    display: block inline-block;
    flex-wrap: wrap-reverse;
}

.contact{
    display: flex;
    gap: 15px;
}
